<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.unimuenster.de/pi/BinDsl"
			class = "de.unimuenster.pi.binDsl.BinDslPackage"
			genModel = "model/generated/BinDsl.genmodel" />
	</extension>
</plugin>
